<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .fieldError {
      color: #bd2130;
    }
  </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function(){
      var errorMessage = [[${errorMessage}]];
      if(errorMessage != null){
        alert(errorMessage);
      }
    });
  </script>

</th:block>


<div layout:fragment="content">

  <div class="container">
    <table class="table">
      <thead class="thead-light">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" th:each="posts : ${postsList}">
        <th scope="row">
          <span th:text="${posts.id}"></span>
          <a th:href="@{'/posts/' + ${posts.id}}">상세보기</a>
        </th>
        <td>
            <span th:text="${posts.title}"></span>
            <div th:if="${not #lists.isEmpty(posts.postsImgFormDtoList)}">
              <div th:each="postsImgFormDto : ${posts.postsImgFormDtoList}">
                <img th:src="${postsImgFormDto.imgUrl}" alt="이미지" />
              </div>
            </div>
        </td>
        <td>
          <span th:text="${posts.body}"></span>
        </td>
        <td>
          <span th:with="formattedTime=${#temporals.format(posts.regTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
          <span th:text="${formattedTime}"></span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">
        <a class="btn btn-primary" th:href="@{/posts/create}" role="button">글쓰기</a>
      </div>
    </div>
  </div>
</div>

</html>